body {
  font-family:'Courier New', Courier, monospace;
}

#game {
    position: relative;
    width:600px;
    display: flex;
    justify-content: space-between;

}

#text {
    background-color: white;
    width: 600px;
    height:800px;
    overflow-y: scroll;
    position: relative;
}

#text {
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 800px; /* Maximum height for the text section */
    width: 400px;
    padding: 10px; /* Padding for inner spacing */
    background-color: white; /* Background color for the text section */

}

#words {
    /* position: fixed; */
position:absolute;
    /* float:right; */
    height: 800px;
    /* height: 100%; */
    overflow-y: scroll;
    padding : 5px 20px;
    /* background: red; */
    right: 0;
    background-color: aliceblue;
}

.draggable {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  input[type="text"] {
    width: 80px;
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
  }
  
  input.correct {
    border-color: green;
  }
  
  input.incorrect {
    border-color: red;
  }
  